version: '3'
networks:   
    labs-net:

services:
    weatherapi:
        build:
            context: .
            dockerfile:  weatherForecast/Labs.Api/Dockerfile.application
        container_name: weatherapi
        hostname: weatherapi
        ports: 
            -   5001:80
        depends_on: 
            - customerapi
        networks: 
            -   labs-net

    customerapi:
        build:
            context: .
            dockerfile:  apiGateway/ApiGateway.Api/Dockerfile
        container_name: customerapi
        hostname: customerapi
        ports: 
            -   5000:80
        networks: 
            -   labs-net

    clienteapi:
        build:
            context: .
            dockerfile:  cliente/Cliente.Api/Dockerfile
        container_name: clienteapi
        hostname: clienteapi
        ports: 
            -   5002:80
        networks: 
            -   labs-net

    nginx:
        build:
            context:    .
            dockerfile:  Dockerfile.nginx
        container_name: proxy
        hostname: proxy
        depends_on: 
            -   weatherapi
            -   customerapi
        ports: 
            -   8080:80
        networks: 
            -   labs-net
#######################################
    mongodb:
        image: bitnami/mongodb:4.4
        restart: always
        ports: 
            -   27017:27017
        networks: 
            -   labs-net

    rabbitmq:
      image: docker.io/bitnami/rabbitmq:3.8
      ports:
        - '4369:4369'
        - '5672:5672'
        - '25672:25672'
        - '15672:15672'
      volumes:
        - 'rabbitmq_data:/bitnami'
volumes:
  rabbitmq_data:
    driver: local
