<section>
  <form class="display-column" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-checkbox formControlName="useDockerBuild">Usar Docker Build</mat-checkbox>
    <mat-checkbox formControlName="dockerPushToContainerRegistry">Push Docker Image To Container Registry</mat-checkbox>
    <mat-checkbox formControlName="tests">Testes</mat-checkbox>
    <mat-checkbox formControlName="publishToServer">Publicar no Servidor</mat-checkbox>
</form>
</section>

<div class="center">
  <button class="btn-next" mat-button color="primary" (click)="onSubmit()">Próximo</button>
</div>
