name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
  docker-push:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Docker Push Registry
      run: |
        docker login -u ${{secrets.DOCKER_USER}} -p ${{secrets.DOCKER_PASSWORD}}
        docker build -t naito10/cliente:${{github.GITHUB_RUN_NUMBER}}-develop-latest .
        docker push naito10/cliente:${{github.GITHUB_RUN_NUMBER}}-develop-latest