name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
  docker-registry:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    # - name: Docker Login Registry
    #   run: |
    #     docker login -u ${{secrets.DOCKER_USER}} -p ${{secrets.DOCKER_PASSWORD}}
    # - name: Docker Build Registry
    #   run: docker build -t naito10/cliente:1-develop-latest -f cliente/Cliente.Api/Dockerfile .
    # - name: Docker Push Registry
    #   run: docker push naito10/cliente:${{github.GITHUB_RUN_NUMBER}}-develop-latest
    - name: LS -la
      run: ls -la
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Docker Build
      run: |
        docker build -f ./cliente/Cliente.Api/Dockerfile --tag ${{ secrets.DOCKER_USER }}/cliente-api:latest .
    - name: Docker Push
      run: docker push ${{ secrets.DOCKER_USER }}/cliente-api:latest
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}